extends ../layout/connom.pug

block  content
    h1 Login
    if errs
        each err in errs
            .alert.alert-danger=err 

    form(action="/auth/login", method="POST")
        .form-group
            lable(for="email") Email
            input#email.form-control(type="text", name="email",value= values ? values.email:"")
        .form-group
            lable(for="password") Password
            input#password.form-control(type="password", name="password",value=values ? values.password:"")

        button.btn.btn-primary Login